# Python
__pycache__/
*.pyc
*.pyo

# Virtual envs
venv/
.venv/
test_venv/

# PyInstaller
build/
dist/

# Ignore all spec files EXCEPT the main one
*.spec
!MotioMetrics/desktop/MotioMetrics.spec

# OS / IDE
.DS_Store
.vscode/
